.background {
    background-color: #f5f5f5;
    background-image: url(assets/foodPattern.jpg);
    background-size: 800px;
    background-repeat: repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }